<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.facebookconnect"
    version="0.3.2">

    <name>Facebook Connect</name>
    
    <description>
      &lt;p&gt;This is the official plugin for Facebook in Apache Cordova/PhoneGap!&lt;/p&gt;
      
      &lt;p&gt;The Facebook plugin for Apache Cordova allows you to use the same JavaScript code in your
      Cordova application as you use in your web application. However, unlike in the browser, the
      Cordova application will use the native Facebook app to perform Single Sign On for the user.
      If this is not possible then the sign on will degrade gracefully using the standard dialog
      based authentication.&lt;/p&gt;
    </description>
    
    <license>Apache 2.0</license>
    <js-module src="www/cdv-plugin-fb-connect.js" name="fb">
      <clobbers target="CDV.FB" />
   </js-module>
  
    <asset src="www/facebook-js-sdk.js" target="facebook-js-sdk.js" />
    
    <config-file target="config.xml" parent="/*">
      <access origin="https://m.facebook.com" />
      <access origin="https://graph.facebook.com" />
      <access origin="https://api.facebook.com" />
      <access origin="https://*.fbcdn.net" />
      <access origin="https://*.akamaihd.net" />
    </config-file>
    
    <preference name="APP_ID" />
	  <preference name="APP_NAME" />
    
    <engines>
      <engine name="cordova" version=">=2.3.0" />
    </engines>
    
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="plugins">
        <feature name="ConnectPlugin">
            <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
         </feature>
        </config-file>
        
        <!-- cordova plugin src files -->
        <source-file src="src/android/ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />
        
    </platform>
    
    <!-- ios -->
    <platform name="ios">
      
        <config-file target="config.xml" parent="/*">
            <feature name="ConnectPlugin">
            <param name="ios-package" value="ConnectPlugin" />
         </feature>
        </config-file>
        
        <header-file src="src/ios/ConnectPlugin.h" />
        <source-file src="src/ios/ConnectPlugin.m" />

        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$APP_ID</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="FacebookDisplayName">
            <string>$APP_NAME</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>fb$APP_ID</string>
              </array>
            </dict>
          </array>
        </config-file>
        
        <!-- system frameworks -->
        <framework src="libsqlite3.dylib" />
        <framework src="Social.framework" weak="true" />
        <framework src="Accounts.framework" weak="true" />
        <framework src="AdSupport.framework" weak="true" />
        <framework src="Security.framework" weak="true" />

    </platform>
</plugin>
